$screen-sm: 425px;
$screen-md: 800px;
$screen-lg: 1280px;
$screen-xl: 1680px;

$clr-error: #f44336;
$clr-warning: #ffa726;
$clr-info: #bdbdbd;
$clr-success: #4fc3f7;

$clr-primary-light: #ffe082;
$clr-primary-main: #ffa000;
$clr-primary-dark: #ff7043;
$clr-secondary-light: #80deea;
$clr-secondary-main: #4db6ac;
$clr-secondary-dark: #9ccc65;
